
export PRJ_ROOT="$(git rev-parse --show-toplevel)"

export KUBECONFIG=$(git rev-parse --show-toplevel)/.kubeconfig

export NIX_CONFIG='
extra-sandbox-paths = /var/run/docker.sock /var/tmp
extra-experimental-features = nix-command flakes
'


